ul.anchor-list {
  li {
    position: relative;
    font-size: 1rem;
    color: cornflowerblue;
    padding: .5rem;
    border-left: 1px solid #dbdbdb;

    &:hover {
      font-weight: 800;
    }

    &.active {
      font-weight: 800;
    }

    &.active::before, &:hover::before {
      display: block;
      content: "．";
      position: absolute;
      top: .5rem;
      left: -.5rem;
    }

    &:hover::before {
      font-weight: 600;
      font-size: 1.2rem;
    }
  }
}